td img {display: block;}

.boxtitle {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
}
.tabela_black {
	border: thin solid #000000;
	padding: 2px;
}
.boxitem_news {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color: #000000;
	list-style-type: none;
	list-style-position: outside;
	text-align: justify;
	display: list-item;
	list-style-image: url(custimg/seta.gif);
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 1px;
	margin-left: 0px;
	background-color: #F4F4F4;
}
.boxitem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-align: left;
	margin: 0px;
	padding: 0px;
    line-height: 12px;
}
.boxitens {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.TextoPadrao {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: justify;
	line-height: 150%;
}
.TabelaArtigos {
	border: thin solid #EEEEEE;
	padding: 10px;
}
